
/* Typography */
/* (10*100)/16px = 62.5% */
*,*::before,*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

:root {
  --color-primary: #2584f0;
  --color-secondary: #00d9f5;
  --color-accent: #f34040;

  --color-heading: #1b0760;
  --color-body: #919ca4;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,h2,h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p{
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body{font-size: 1.8rem;}
  h1 {font-size: 8rem ;}
  h2 {font-size: 4rem;}
  h3 {font-size: 2.4;}
}

/* link */
.link-arrow {
  color: var(--color-accent, #00d9f5);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
}

.link-arrow::after {
  content: "-->";
  transition: margin 0.15s ease 0s;
  margin-left: 5px;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .link-arrow {font-size: 1.5rem;}
}

/* Badges */
/* Sort Line accessding */
.badge {
  background: var(--color-accent);
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}
.badge--secondary {
  background: var(--color-secondary);
  color:#fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {font-size: 1.5rem;}
  .badge--small {font-size: 1.4rem;} 
}

/* list */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(/icons/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width:1024px) {
  .list--tick .list__item {
    padding-left: 0px;
  }
}

/* icon */
.icon {
  width: 30px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  background: rgb(218, 245, 255);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Button */

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 3rem;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  white-space: nowrap;
  margin: 1rem 0;
  text-align: center;
}

.btn-primary{
  background-color: var(--color-primary);
  color:#fff
}

.btn-primary:hover{
  background-color: #2584f0c9;
  color:#fff
}

.btn-secondary{
  background-color: var(--color-secondary);
  color:#fff
}

.btn-secondary:hover{
  background-color: #00d9f5a6;
  color:#fff
}

.btn-accent{
  background-color: var(--color-accent);
  color:#fff
}

.btn-accent:hover{
  background-color: #f3404099;
  color:#fff
}

.btn-outline {
  background: #fff;
  border: 2px solid var(--color-heading);
  color: var(--color-heading);
}

.btn-outline:hover {
  background: var(--color-heading);
  border: 2px solid var(--color-heading);
  color: #fff;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width:1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-body);
  border-radius: 30px;

  outline:none;
  font-size: 2rem;
  color: var(--color-heading);
  background-color: #fff;
}

.input::placeholder{
color: #cdcdcd;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}